<h1>Edit Template</h1>
<form class="edit-form row" action="/api/new" method="post" ng-submit="submitEdits($event)">
	
	<div class="row">
		
		<div class="columns large-1">
			
			<!-- Bohn ID -->
			<div class="bohn-id-container row">
				<h2>ID</h2>
				<input class="" name="id" placeholder="number" type="number" ng-model="print.bohnID" />
			</div>
		</div>
		
		<div class="columns large-9">
			
			<!-- Title -->
			<div class="bohn-id-container row">
				<h2>Title</h2>
				<input name="title" class="" placeholder="Title" type="text" ng-model="print.title" />
			</div>
		</div>
		
		<div class="columns large-2">
			<!-- Date -->
			<div class="date row">
				<h2>Date</h2>
				<input name="date" class="" type="date" ng-model="print.date"/>
			</div>
		</div>
	</div><!-- ./ End of row -->
	
	<div class="row">
		<div class="columns large-4">
			<!-- Images -->
			<div class="images-container ">
				<h2>Images</h2>
				<!-- Repeat them -->
				<div ng-repeat="i in print.images" class="row">
					<p class="large-11 columns">
						<input name="images" type="text" value="{{i}}" />
					</p>
					<a class="large-1" value="delete" ng-click="deleteItem(i, 'images')">X</a>
				</div>
				<!-- Always blank -->
				<div class="row">
					<p class="large-11 columns">
						<input type="text" placeholder="Image url" ng-blur="addItem(tempModels.newImage, 'images')" ng-model="tempModels.newImage"/>
					</p>
				</div>
			</div>
		</div>
		
		<div class="columns large-4">
			<h2>Subjects</h2>
			<!-- Repeat them -->
			<div ng-repeat="subject in print.subjects" class="row">
				<p class="large-11 columns">
					{{subject.name}}
				</p>
				<a class="large-1 columns" value="delete" ng-click="deleteItem(subject, 'subjects')">X</a>
			</div>
			<!-- Always blank -->
			<div class="row">
				<p class="large-11 columns">
					<select ng-model="tempModels.newSubject" ng-options="subject.name for subject in allSubjects" ng-change="addSubject(tempModels.newSubject)"></select>
					<!--<angucomplete
            selectedobject="allSubjects"
            localdata="fuckyou"
            inputclass="form-control form-control-small"/>-->
					<!--<autocomplete ng-model="tempModels.newSubject" data="allSubjects.names" on-change="addSubject($event)">-->
					<!--<input autocomplete type="text" placeholder="Subject ID" ng-blur="addItem(tempModels.newSubject, 'subjects')" ng-model="tempModels.newSubject"/>-->
				</p>
			</div>
		</div>
		
		<div class="columns large-4">
			<h2>Tags</h2>
			<div ng-repeat="tag in print.tags" class="row">
				<div class="large-8 columns">
					<p>{{tag.name}}</p>
				</div>
				<a class="large-4 columns" value="delete" ng-click="deleteItem(i, 'tags')">Remove</a>
			</div>
			
			<div class="row">
				<p class="large-10 columns">
					<select ng-model="tempModels.newTag" ng-options="tag.name for tag in allTags" ng-change="addTag(tempModels.newTag)"></select>
				</p>
			</div>
		</div>
		
	</div><!-- ./ End of row -->
	
	<div class="row">
		<div class="columns large-6">
			<h2>Transcription</h2>
			<textarea name="transcription" rows="18" cols="50"></textarea>
		</div>
		<div class="columns large-6">
			<h2>Description</h2>
			<textarea name="description" rows="18" cols="50"></textarea>
		</div>
	</div><!-- ./ End of row -->
	
	<div class="row submit">
		<input class="button round" type="submit" />
	</div>
</form>