doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    script(src='/javascripts/main.js')
  body
    block content